{% extends 'layout.html.twig' %}

{% block content %}
{#
    <a class="uk-button" href="/Photo/all/curiosity">Photos</a><br/>
    <a class="uk-button" href="/Photo/all/opportunity">Photos</a><br/>
    <a class="uk-button" href="/Photo/all/spirit">Photos</a><br/>
    <a class="uk-button" href="/Daily/getDailyPic">Daily photo</a><br/>
    <a class="uk-button" href="/Event/index">Evènements astonomiques</a>
#}
{% endblock %}

{% block javascript %}<script src="assets/script/three.js" type="module"></script>{% endblock %}