{% extends 'layout.html.twig' %}

{% block content %}

    <a href="/Photo/all">Photos</a><br/>
    <a href="/Daily/getDailyPic">Daily photo</a><br/>
    <a href="/Weather/index">Evènements astonomiques</a>

{% endblock %}
