{% extends 'layout.html.twig' %}

{% block content %}

    <a class="uk-button" href="/Photo/all">Photos</a><br/>
    <a class="uk-button" href="/Daily/getDailyPic">Daily photo</a><br/>
    <a class="uk-button" href="/Event/index">Evènements astonomiques</a>

{% endblock %}
