{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block content %}
        <div class="index">
            <div class="infos">
                <ul>
                    <li>size : 6792km</li>
                    <li>From sun : 78-378 millions Km</li>
                    <li>From earth : 150 millions km</li>
                    <li>Temperature : -63°C</li>
                    <li>Orbital période : 687 days</li>
                </ul>
            </div>

            <img src="/assets/images/logo.png" alt="logo" class="logo">

            <div class="size">
                <img src="assets/images/size.png" alt="planets size">
            </div>
        </div>
{% endblock %}

{% block javascript %}<script src="assets/script/three.js" type="module"></script>{% endblock %}