* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sky a {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 450px) {
    form {
        flex-wrap: wrap;
    }
}

body{
    background-image: linear-gradient(rgba(50, 50, 50, 0.8), rgba(55, 55, 55, 0.8)), url("/assets/images/bg.svg");
}